/* p {
    text-align: justify;
    text-align: end;
    text-align: start;

}

#one{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#two{
    font-family:arial;
} */

/* h1 {
    text-align: left center right;
    text-decoration: underline; */
    /* text-decoration: overline ; */
    /* text-decoration: line-through; */
    /* text-decoration: red wavy underline; */
    /* text-decoration: red dashed underline; */
    /* text-decoration: red dotted underline; */
    /* text-decoration: red underline; */
/* } */

/* #h1{
    font-weight: normal;
}

#h2{
    font-weight: bold;
}

#h3{
    font-weight: bolder;
}

#h4{
    font-weight: lighter;
}

#h5{
    font-weight: 100;
} */

/* a {
    text-decoration: none;
} */


/* #one{
    font-size: 20px;
    line-height: 30px; */
    /* text-transform: lowercase; */
    /* text-transform: uppercase; */
    /* text-transform: capitalize; */
    /* text-transform: none; */
/* } */

/* #two{
    font-size: ;
}

#three{
    font-size: 10px;

} */

*{
    font-family: 'Times New Roman', Times, serif;
    
}

h1{
    text-transform: capitalize;
    text-align: center;
    
}

p{
    /* font-family: 'Times New Roman', Times, serif; */
    /* text-align: center; */
}

#outer{
    font-size: 25px;
}

/* #inner{
    font-size: 10px;
} */